<h3>Entry Form</h3>

<form action="">
  <div class="form-group">
    <label for="title">Title</label>
    <input type="text" class="form-control" name="title" />
  </div>

  <div class="form-group">
    <label for="description">Description</label>
    <input type="text" class="form-control" name="description" />
  </div>

  <div class="form-group">
    <label for="severity">Severity</label>
    <select name="severity" id="" class="form-control">
      <option value="Option">Option</option>
    </select>
  </div>

  <div class="form-group">
    <label for="isResolved">Resolved?</label>
    <input type="checkbox" class="form-control" name="isResolved" />
  </div>

  <button class="btn btn-primary" type="submit">Submit</button>
</form>
